/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

Edited by Devin Warrick
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}
body {
  background: #F0C598;
}
a,
p {
  color: #250906;
}
p {
  line-height: 1.3;
}
.spacer {
  margin: 25px;
}
@media only screen and (max-width: 500px) {
  .spacer {
    margin: 85px;
  }
}
.button {
  background: #8B2818;
  border: 2px solid white;
}
.button:hover {
  background: #BD8C84;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header__img {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 500px) {
}
header .header__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
header .header__text {
  position: absolute;
  width: 50%;
  max-width: 500px;
  min-width: 250px;
  background: #250906;
  margin: 0 auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0 0 10px black;
}
@media only screen and (max-width: 800px) {
  header .header__text {
    width: 80%;
  }
}
header .header__text h1,
header .header__text p {
  color: #F0C598;
}
header .header__text h1 {
  font-size: 3rem;
}
header .header__text .button {
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 5px;
}
nav {
  z-index: 50;
  position: fixed;
  width: 100%;
  padding: 0 25% 0 25%;
  background: rgba(189, 140, 132, 0.9);
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  nav {
    padding: 0 15% 0 15%;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    padding: 0;
    flex-direction: column;
    position: absolute;
  }
}
nav a:hover {
  color: white;
}
@media only screen and (max-width: 500px) {
  nav a {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 7px%;
  }
}
.container .about.content {
  margin: 5% auto;
  max-width: 1200px;
  width: 80%;
}
.container .about.content .button {
  width: 300px;
  padding: 16px 40px;
  margin: 0 auto;
}
.container .about.content img.about {
  min-height: inherit;
}
.container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .container .content {
    margin: 10px;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 500px) {
  .container .content {
    flex-wrap: wrap;
    border-top: 1px solid #250906;
  }
}
.container .content .content__text {
  background: #8B2818;
  border-radius: 3px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  max-height: 400px;
  padding: 4% 2.5%;
  margin: 1% 2.5%;
}
@media only screen and (max-width: 500px) {
  .container .content .content__text {
    width: 100%;
    order: 2;
    margin-bottom: 25px;
    margin: 0;
  }
}
.container .content .content__text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.container .content .content__img {
  width: 50%;
}
@media only screen and (max-width: 500px) {
  .container .content .content__img {
    width: 100%;
    order: 1;
  }
}
.container .content .content__img img {
  width: 100%;
  height: auto;
  min-height: 400px;
  object-fit: cover;
}
@media only screen and (max-width: 800px) {
  .container .content .content__img img {
    min-height: 200px;
  }
}
.container .content .button {
  width: 150px;
  text-align: center;
  display: block;
  margin-top: 7%;
  padding: 8px 20px;
  border: 2px solid #250906;
  border-radius: 5px;
}
footer {
  background: rgba(189, 140, 132, 0.9);
  padding: 20px 0 0;
  height: 70px;
  text-align: center;
}
.carousel__header {
  padding-right: 2%;
  text-align: center;
}
.carousel__header h2 {
  font-size: 2rem;
}
.carousel {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  max-width: 1200px;
  width: 80%;
  height: 480px;
  border: 3px solid #250906;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .carousel {
    height: 60vh;
  }
}
.carousel .left-btn {
  left: 0;
}
.carousel .right-btn {
  right: 0;
}
.carousel .btn {
  z-index: 50;
  position: absolute;
  height: 100%;
  width: 70px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carousel .btn img {
  opacity: 0.5;
}
.carousel .btn:hover img {
  opacity: 1;
}
.carousel .slide {
  display: none;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 35px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .carousel .slide {
    flex-direction: column;
  }
}
.carousel .slide .slide__img {
  width: 48%;
  flex: 1;
}
@media only screen and (max-width: 800px) {
  .carousel .slide .slide__img {
    width: 60%;
    margin: 0 auto;
  }
}
.carousel .slide .slide__text {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
@media only screen and (max-width: 800px) {
  .carousel .slide .slide__text {
    width: 90%;
    text-align: center;
  }
}
