/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark

Edited by Devin Warrick
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
  width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
a,
p {
  color: #242B48;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header__img {
  width: 100%;
}
header .header__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
header .header__text {
  position: absolute;
  width: 50%;
  max-width: 500px;
  background: #242B48;
  margin: 0 auto;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
header .header__text h1,
header .header__text p,
header .header__text a {
  color: #FBFBFB;
}
nav {
  position: fixed;
  width: 100%;
  padding: 0 30% 0 30%;
  background: rgba(227, 179, 125, 0.9);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content {
  display: flex;
  justify-content: space-between;
}
.container .content .content__text {
  width: 48%;
}
.container .content .content__img {
  width: 48%;
}
.container .content .content__img img {
  width: 100%;
  height: auto;
}
