.container {



    .content {
        display: flex;
        justify-content: space-between;

        .content__text {
            width: 48%;
        }
        .content__img {
            width: 48%;

            img {
                width: 100%;
                height: auto;
                
            }
        }
    }
}