.container {



    .content {
        display: flex;
        justify-content: space-between;

        .content__text {
            width: 47%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            max-height: 400px;
            padding: 0 5%;

            h2 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

        }
        .content__img {
            width: 50%;

            img {
                width: 100%;
                height: auto;
                max-height: 400px;
                object-fit: cover;

            }
        }
    }
}