* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.amatic {
    font-family: 'Amatic SC', cursive;
}

body {
    background: @bg-color;
}

a, p {
    color: @font-color;
    font-size: 1.3rem;
}

p {
    line-height: 1.3;
}

.spacer {
    margin: 50px;

    @media @mobile {
        margin: 120px;
    }
}

.button {
    background: @color-primary;
    border: 2px solid @color-secondary;
    &:hover {
        color: white;
        background: @accent-color;
        box-shadow: 0 0 10px white;
    }
}

emphasis {
    font-weight: bolder;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}