nav {
    z-index: 50;
    position: fixed;
    width: 100%;
    padding: 0 10%;
    background: fade(@color-primary, 90%);
    min-height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media @tablet {
        padding: 0 5%;
    }

    @media @mobile {
        padding: 0;
        flex-direction: column;
        position: absolute;
        align-items: center;
    }

    

    a {
        font-size: 1.5rem;
        &:hover {
            color: white;
        }

        @media @mobile {
            text-align: center;
            padding: 7px;
            margin: 7px;
            order: 2;
        }

        display: flex;
        align-items: center;

        img {
            width: 100px;
            height: auto;
        }
    }

    .logo {
        
        @media @mobile {
            order: 1;
        }
        .amatic{color: black;}
    }
}