@bg-color-primary: ;
@bg-color-secondary: ;
@accent-color: ;
@font-color: ;


//==============FOREST==============//
@forest-brown: #395315;
@forest-green: #7BCA5E;
@forest-beige: #CDD99E;
@forest-sky: #6E959C;


//==============MOUNTAINS==============//
@mountain-blue: #3068A0;
@mountain-lightblue: #98B8D4;
@mountain-brown: #43312A;
@mountain-cloud: #DBDBDC;


//==============OCEAN==============//
@ocean-darkblue: #32698F;
@ocean-blue: #88C7E7;
@ocean-lightblue: #CACDC5;
@ocean-cloud: #0A1A31;


//==============THEATER==============//
@theater-brown: #8B2818;
@theater-red: #F0C598;
@theater-beige: #250906;
@theater-reflect: #BD8C84;


//==============WATERFALL==============//
@waterfall-darkgray: #2B3F37;
@waterfall-gray: #BFE9DE;
@waterfall-lightgray: #73C0B0;
@waterfall-water: #6198A7;


//==============SPACE==============//
@space-darkblue: #29253D;
@space-blue: #A07684;
@space-fadedblue: #56699E;
@space-star: #6C7C8C;