.carousel__header {
    padding-right: 2%;
    text-align: center;

    h2 {
        font-size: 2rem;
    }
}

.carousel {
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    max-width: 1200px;
    width: 80%;
    min-height: 480px;
    border: 3px solid @font-color;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-btn {
        left: 0;
    }

    .right-btn {
        right: 0;
    }

    .btn {
        z-index: 50;
        position: absolute;
        height: 100%;
        width: 70px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            opacity: 0.5;
        }
        &:hover {
            img {
                opacity: 1;
            } 
        }
    }

    .slide {
        display: none;
        // display: flex;
        width: 90%;
        margin: 0 auto;
        padding: 20px 35px;
        justify-content: space-between;

        .slide__img {
            width: 48%;
        }

        .slide__text {
            width: 48%;
        }
    }
}